* {
    box-sizing: border-box;
}

body {
	background: url(../images/background1.jpg);
	text-align: center;
}

#container {
	padding: 5% 0;
    width:600px;
    margin: 75px auto;
    
    background: url(../images/background2.jpg);
}

#subcontainer {
	position: relative;
	top: 20%;
}

#subcontainer h2 {
	font-family: 'Chewy', cursive;
	font-size: 30px;
	color: rgb(0, 45, 128);

}

#subcontainer h3 {
	font-family: 'Chewy', cursive;
	color: rgb(0, 17, 255);
	font-size: 30px;
}

h1 {
	font-family: 'Chewy', cursive;
	font-size: 75px;
	font-weight: bold;
	color: rgb(0, 205, 195);
	padding: 10px 0px 10px 0px;
	margin: 0px 0px 50px 0px;
}

button {
	font-family: 'Chewy', cursive;
    display: block;
    width: 200px;
    height: 80px;
    margin: 80px auto 0 auto;
    cursor: pointer;
    background: grey;
    font-size: 45px;;
    color: yellow;
}

h2 {
	font-size: 50px;
	margin-bottom: 35px
}

h3 {
	font-size: 35px;
	margin-bottom: 20px;
}

#start {
	margin-top: 10%;
	border: 2px solid black;
	background: grey;
}

#done {
	margin-top: 10%;
	border: 2px solid black;
	background: grey;
}

#play-area h2 {
	margin-top: 50px;
}
